@import "../../styles/variables";
@import "../../styles/mixins";
.experience{
  flex: 3 1 60%;

  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  margin-left: 30px;
  @include media-sm{
    margin-left: 0;
  }
}

.title{
  margin-bottom: $section-space;
}
