@import "../../styles/variables";
@import "../../styles/mixins";

.item{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.vertical{
  height: 100px;
  border: solid $black 1px;
  max-width: 1px;
  margin-top: 7px;

  @include media-sm{
    display: none;
  }
}

.content{
  flex-grow: 1000;
  margin-left: $point-left-shift*2;
  margin-bottom: $experience-section-space;
}

.title{
  text-transform: uppercase;
  margin-bottom: 5px;
}

.info{
  margin-bottom: $section-header-space;
  display: block;
}

.text{
  margin-bottom: $section-header-space;
  line-height: $line-height;
}