@import "../../styles/variables";
@import "../../styles/mixins";

.cols {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @include media-sm{
    flex-direction: column;
  }
}

.footer {
  width: 100%;
  height: 80px;
  background-color: $black;
  padding-top: 40px;
  p {
    text-transform: uppercase;
    color: $white;
    text-align: center;
  }
}