@import "../../styles/variables";
@import "../../styles/mixins";

.banner{
  display: flex;
  flex-direction: column;
  flex-wrap:nowrap;

  >header{
    margin-top: 35vh;
    margin-bottom: 100px;
    h1{
      text-align: center;
    }
  }

}

.nav{
  display: flex;
  justify-content: space-between;
  @include media-sm{
    padding: 0 20px;
  }
}
.navItem{
}
