@import "variables";
@import "utils";
@import "style";
.banner{
  @extend .content-container;
  display: flex;
  flex-direction: column;
  flex-wrap:nowrap;

  >header{
    margin-top: 20vw;
    margin-bottom: 100px;
    h1{
      text-align: center;
    }
  }

  .nav{
    display: flex;
    justify-content: space-around;
    .navItem{
      @extend .save-decoration;
    }
  }
}
