@import "./reset.min.css";
@import '../fonts/fonts.css';
@import "variables";
@import "utils";
@import "mixins";

body{
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: $break-xxs;
  letter-spacing: 0 !important;
}

h1, h2, h3, h4, h5 {
  font-family: $font-serif;
}

p, a {
  font-family: $font-sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 44px;
}

h5 {
  font-size: 32px;
}

.container{
  width: 100%;
}

.content-container{
  width: 84%;
  margin: 0 8%;

  @include media-xs{
    width: 100%;
  }
}