@import "./reset.min.css";
@import '../fonts/fonts.css';
@import "variables";
@import "utils";
@import "mixins";
@import "icons";

body{
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: $break-xxs;
  letter-spacing: 0 !important;
}

h1, h2, h3, h4, h5 {
  font-family: $font-serif;
}

p, a, span {
  font-family: $font-sans-serif;
  font-size: 1vw;
}

h1 {
  font-size: 5.2vw;
}

h2 {
  font-size: 4.1vw;
}

h3 {
  font-size: 3vw;
}

h4 {
  font-size: 1.9vw;
}

h5 {
  font-size: 1.5vw;
}

.container{
  width: 100%;
}

.content-container{
  width: 60%;
  margin: 0 20%;

  @include media-xs{
    width: 100%;
  }
}


