//colors
$black: #000;
$dark-grey: #626262;
$grey: #a3a3a3;
$white: #fff;

//fonts
$font-serif: "Roboto Slab", "Times New Roman", serif;
$font-sans-serif: Roboto, Arial, sans-serif;

//screen size
$break-lg: 1200px;
$break-md: 979px;
$break-sm: 767px;
$break-xs: 480px;
$break-xxs: 320px;